# ============================================================
# DEPENDENCIAS - Proyecto NNA Bogotá
# ============================================================
# INSTALACIÓN:
# pip install -r requirements.txt
# ============================================================

# Manejo de datos
pandas==2.2.3
numpy==2.3.3

# Visualizaciones
matplotlib==3.9.2
seaborn==0.13.2

# Variables de entorno
python-dotenv==1.0.1

# Análisis adicionales
scipy==1.15.3
scikit-learn==1.5.2
